<h1>All courses</h1>
<% @courses.each do |course| %>
	<div class="card bg-light" >
	<h3><%= course.course_name %></h3>
	<p><%= course.course_description %></p>
	<%= link_to "Read More", course_path(course), :class => 'btn btn-outline-dark' %>
	</div>
<% end %>
 