<h2><%= @course.course_name %></h2>
<p><%= @course.course_description %></p>
<hr>
<%= link_to "Edit",edit_course_path(@course), :class => 'btn btn-primary' %>
<%= link_to "Delete",course_path(@course),method: :delete,data: {confirm: 'Are your sure?'} ,:class => 'btn btn-danger' %>
